*{
    padding: 0px;
    margin: 0px;
}
h1 {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 10px;
    border: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #459eb9;
}